// COLORS
$color-primary: #55c57a;
$color-primary-light: #38ef7d;
$color-primary-dark: #11998e;

$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-black: #000;

$color-transparent: transparent;
$color-white: #fff;

