.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(17, 153, 142, 0.8),
      rgba(56, 239, 125, 0.8)
    ),
    url(../img/smoothies.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: -1rem;
    left: 4rem;
  }

  &__logo {
    height: 15rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    &__text-box {
      transform: translate(-50%, -40%);
    }
  }
}

@media (max-width: 767px) {
  .header {
    height: 80vh;
  }
}
